<style>
            html, body {
                font-family: Helvetica, sans-serif;
            }
            
            .node circle {
                fill: #fff;
                stroke: steelblue;
                stroke-width: 1.5px;
            }

            .node {
                font: 10px sans-serif;
            }

            .link {
                fill: none;
                stroke: #ccc;
                stroke-width: 1.5px;
            }
            
            input {
                width: 250px;
                height: 37px;
                margin-bottom: 10px;
                
                font-size: 14px;
                
                padding: 5px;
                border: 1px solid #ccc;
                
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                border-radius: 3px;
                
            }
            
            input:focus {
                outline-width: 0;
            }

            #login-form {
                width: 250px;
                height: 300px;
                
                position: relative;
                top: 50%;
                left: 50%;
                
                margin: -250px 0 0 -175px;
                
                color: #ccc;
                border: 1px dotted #ccc;
                border-radius: 10px;
                
                padding: 30px 50px 10px 50px;
            }
            
            #bt {
                border: 1px #ccc solid;
            }
            #bt:hover {
                border: 1px #000 solid;
            }
            
            .error {
                width: 250px;
                
                color: #ff0000;
                text-align: center;
            }
            
        </style>